.red {
    background-color: red;
}

.p-button{
    background-color: white;
}

.btn {
    display:inline-block;
    position: relative;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 50px;
    text-align: center;
    clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
    background-color: #ff0000;
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
  }
  
  .btn:hover {
    background-position-y: -50px;
  }